<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <title>Document</title>

</head>
<body>
  {%extends 'layout.html' %}
  {%block header%}Hardware Store{%endblock%}
  {%block maincontent%}This is the main content of index.html Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore saepe nam perspiciatis ipsa beatae ullam sunt mollitia odio voluptas consectetur, magnam ad, sapiente quos fugit sed omnis quis expedita vero vitae harum dolores! Odio, quia modi, ea error recusandae at quas quidem facere corrupti, commodi adipisci quisquam illum voluptatem similique.{%endblock%}
</body>
</html>